
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made for the brave</p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/css/script.js"></script>
  <script src="/css/sender.js"></script>
</div>
</body>
</html>
