<%- include("partials/header"); -%>
<br><br>
<div class="jumbotron centered">
    <div class="container">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      
      <h1 class="display-3">About Us </h1>
      <!-- <p class="lead">Your Dashboard💥 </p> -->
      
      <hr>
      <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> -->
  
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- <div class="col-sm-6">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                  <img src="/images/yash.jpeg" class="card-img-top" alt="HEY" >
                  <h5 class="card-title"> V Yashwant Raj</h5>
                  <p class="card-text ">19BLC1068</p>
                  <p class="card-text ">Electronics and Computer Engg</p>
                  <p class="card-text ">VIT CHENNAI</p>
                </div>
                
            </div>
        </div> -->
        <div class="col-sm-6">
            <div class="card mb-3 text-white bg-secondary" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/images/yash.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">V Yashwant Raj</h5>
                      <p class="card-text">19BLC1043</p>
                      <p class="card-text">Electronics and Computer Engg</p>
                      <p class="card-text ">VIT CHENNAI</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card mb-3 text-white bg-secondary" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/images/shrini.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Shrinivas A V S</h5>
                      <p class="card-text">19BLC1131</p>
                      <p class="card-text">Electronics and Computer Engg</p>
                      <p class="card-text ">VIT CHENNAI</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col ">
            <div class="card mb-3 text-white bg-secondary" style="max-width: 540px; display: block; margin-left: auto; margin-right: auto;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/images/gokul2.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">S Gokulnath</h5>
                      <p class="card-text">19BLC1068</p>
                      <p class="card-text">Electronics and Computer Engg</p>
                      <p class="card-text ">VIT CHENNAI</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <button onclick="goBack()" class="btn btn-dark" style="float:right">Go Back</button>
        <script>
            function goBack() {
              window.history.back();
            }
        </script>
        </div>
    </div>
    <br>
</div>
<%- include('partials/footer') %>

