<%- include("partials/header"); -%>
<br><br><br><br><br>
<div class="jumbotron centered">
    <div class="container">
      <img src="/images/fit.png" alt="" class="img1">
      <h1 class="display-3">One Stop Fitness Tracker</h1>
      <p class="lead">Train harder, live merier</p>
      <hr>
      <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>

      <a class="btn btn-dark btn-lg" href="/adminlogin" role="button" style="float: right;">Admin-Login</a>
    </div>
  </div>
<br><br><br><br>
<%- include('partials/footer') %>
